USE [master]
GO
/****** Object:  Database [Laboratorio3]    Script Date: 14/11/2021 13:30:26 ******/
CREATE DATABASE [Laboratorio3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Laboratorio3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Laboratorio3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Laboratorio3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Laboratorio3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Laboratorio3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Laboratorio3]
GO
/****** Object:  User [pedro]    Script Date: 14/11/2021 13:30:27 ******/
CREATE USER [pedro] FOR LOGIN [pedro] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tbl_cuenta]    Script Date: 14/11/2021 13:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_cuenta](
	[id_cuenta] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[tipo] [int] NOT NULL,
	[saldo] [numeric](18, 2) NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
 CONSTRAINT [id_cuenta_PK] PRIMARY KEY CLUSTERED 
(
	[id_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_datoscliente]    Script Date: 14/11/2021 13:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_datoscliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[telefono_movil] [varchar](50) NULL,
	[direccion] [varchar](150) NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
 CONSTRAINT [id_cliente_PK] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_movimientos]    Script Date: 14/11/2021 13:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_movimientos](
	[id_cuenta] [int] NULL,
	[deposito] [decimal](18, 2) NULL,
	[retiro] [numeric](18, 2) NULL,
	[fecha] [datetime2](7) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_cuenta]  WITH CHECK ADD  CONSTRAINT [id_cliente_tbl_cuenta_FK] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[tbl_datoscliente] ([id_cliente])
GO
ALTER TABLE [dbo].[tbl_cuenta] CHECK CONSTRAINT [id_cliente_tbl_cuenta_FK]
GO
ALTER TABLE [dbo].[tbl_movimientos]  WITH CHECK ADD  CONSTRAINT [id_cuenta_tbl_movimientos_FK] FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[tbl_cuenta] ([id_cuenta])
GO
ALTER TABLE [dbo].[tbl_movimientos] CHECK CONSTRAINT [id_cuenta_tbl_movimientos_FK]
GO
USE [master]
GO
